.certifications-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow badges to wrap to the next line if there's not enough space */
}

.certification-badge {
  margin: 10px;
  margin-bottom: 60px; /* Add margin at the bottom */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 210px;
  height: 241px;
  box-sizing: border-box; /* Ensure padding and border don't affect the size */
  position: relative;
}

.certification-badge:hover,
.certification-badge:active {
  transform: scale(1.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.certification-badge iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; /* Position the iframe at the top of the badge */
  left: 50%;
  transform: translateX(-50%); /* Center the iframe horizontally within the .certification-badge */
}

/* Adjust the size of the embedded Credly body */
.certification-badge .credly-badge-body {
  width: 120%; /* Increase the width to make the iframe bigger */
  height: 120%; /* Increase the height to make the iframe bigger */
  margin-top: 50px; /* Adjust the margin-top as needed */
}

.certification-badge.hovered {
  transform: scale(1.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.certification-badge.selected {
  animation: zoom 0.3s ease;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
